/*custom.css*/
/*yamin*/
/*23-7-2018*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');
@font-face {
    font-family: futura;
    src: url('/fonts/FuturaStd-Bold.otf');
}

.poppins{font-family: 'Poppins', sans-serif;}
.futura{font-family: 'futura', sans-serif;}

.light{font-weight: 300;}
.regular{font-weight:400;}
.medium{font-weight:500;}
.bold{font-weight:700;}

.uppercase{
    text-transform: uppercase;
}
/*VIDEO*/
video{
    width: 100% !important;
    overflow: hidden;
    padding:20px;

}
.video video{
    height: 100%;
}

.videotext{
    width: 100%;
}
.navbar{
    padding:0px 0px 0px 20px;
}
.navbar-nav .nav-item{
    margin:15px 15px;
    padding:12px;
    font-weight: bold !important;
    color: #D7A267 !important;
    
}
.navbar-nav .nav-item:hover{
    color:white !important;
}

.navbar-nav .nav-item-language{
    margin:15px 15px;
    padding:12px;
    font-family: Poppins-Bold;
    font-weight: bold !important;
    font-size: 14px;
    color: #EEEEEE !important;
}

.navbar-nav .nav-item-language:hover{
    color:#D7A267 !important;
}

.navbar-nav .nav-item-language:active{
    color:#D7A267 !important;
}


.navbar-nav .active{
    color: white !important;
}

.navbar-nav .special{
    border:1px solid #D7A267;
    padding: 12px !important;
}
.navbar-nav .special:hover{
    background-color: #D7A267;
}
.sub{
    z-index: 10
}
.sub:hover{
    background-color: #D7A267;
}

.sub:hover .navbar-sub{
    display: block;
}
.sub:hover .nav-item{
    color:white !important;
}

.sub:hover .navbar-sub .navbar-sub-item {
    display: block !important;
    padding:15px !important;
    text-decoration: none;
    font-weight: bold;
    
}
.sub:hover .navbar-sub .navbar-sub-item:hover {
    color:#191919;
}

.sub .navbar-sub{
    background-color: #D7A267;
    padding:20px;
    width:250px;
    margin-top:0px;
    display: none;
    
}
.sub .navbar-sub .navbar-sub-item{
    padding: 15px;
    color: white;
    font-weight: bold;
    
}

@media (min-width: 576px) { 
    .video{
        width:100% !important;
        height: 90vh !important;
        overflow: hidden;
        position:absolute;
        
    }
    .video video{
        height: auto !important;
        width:100% !important;
    }
    .videotext{
        height: 90vh;
    }
    
}

@media (min-width: 768px) { 
    .video{
        width:100% !important;
        height: 50vh !important;
        overflow: hidden;
        position:absolute;
        
    }
    .video video{
        height: auto !important;
        width: 100% !important;
    }
    .videotext{
        height: 40vh;
    }
}

@media (min-width: 992px) {
    .video{
        width:100% !important;
        height: 90vh !important;
        overflow: hidden;
        position:absolute;
        
    }
    .video video{
        height: auto !important;
        width: 100% !important;
    }
    .videotext{
        height: 90vh;
    }
    
    .navbarfix{
        display: flex;
        flex-direction: row-reverse;
    }
}

@media (min-width: 1200px) {
    .video{
        width:100% !important;
        height: 90vh !important;
        overflow: hidden;
        position:absolute;
        
    }
    .video video{
        height: auto !important;
        width:100% !important;
    }
    .videotext{
        height: 90vh;
    }

}
p{
    font-family: 'Poppins'; 
    font-size: 14px;
    line-height: 26px;
}

/*color*/
.text-white{color: white;}
.text-gold{color:#D7A267}
.text-black{color:#1b1b1b;}

.bg-white{background-color: white;}
.bg-gold{background-color:#D7A267}
.bg-black{background-color:#262626;}
.bg-gray{background-color: #1b1b1b;}
.bg-black2{background-color: #2a2a2a;}
.bg-white2{background-color: #EEEEEE;}

.border-gold{border:1px solid #D7A267;}

.hr-gold{border-top:1px solid #D7A267}

/*util*/
.bg-cover{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*button*/
.btn-w{min-width:120px;}
.btn{
    font-family: 'Poppins';
    font-weight: bold;
    padding:8px 20px
}
.btn-white{
    background:white;
    border:2px solid #1b1b1b;
    columns: #1b1b1b;;
    text-transform: uppercase;
}
.btn-white:hover{
    cursor: pointer;
    transition: 0.2s;
    background: #1b1b1b;
    color: white;
}
.btn-white-outline{
    background:rgba(255,255,255,0);
    border:2px solid white;
    color:white;
    text-transform: uppercase;
}
.btn-white-outline:hover{
    cursor: pointer;
    transition: 0.2s;
    background:white;
    color: #1b1b1b;
}
.btn-black{
    background:#1b1b1b;
    border:2px solid #D7A267;
    color:#D7A267;
    text-transform: uppercase;
}
.btn-black:hover{
    cursor: pointer;
    transition: 0.2s;
    background:#D7A267;
    color: white;
    border:2px solid #1b1b1b;
}
.btn-black-outline{
    background:none;
    border:2px solid #1b1b1b;
    color:#1b1b1b;
    text-transform: uppercase;
}
.btn-black-outline:hover{
    cursor: pointer;
    transition: 0.2s;
    background:#D7A267;
    color: white;
    border:none;
}


/*Form*/
.form-control{
    background-color: #262626;
    border-radius: 1px;
    border:none;
    color: white;
    font-family: "poppins";
}



/*Category*/
.cat-item{
    height: 220px !important;
}

/*Highlights*/
.imageselect{
    cursor: pointer;
}
.videoselect{
    cursor: pointer;
}


/*Nav Pills (tab)*/
.nav-pills .nav-link{
    border:none;
    border-radius: 0px;
    padding:20px 50px;
    font-family: 'Poppins';
    color: #1b1b1b;
    font-weight: bold;
    background-color: white;
}

.nav-pills .nav-item .active{
    background-color: #1b1b1b;
    color: #D7A267;
}

@media (min-width: 992px) {
    .nav-pills .nav-item{
    position: relative;
}
    .nav-pills .nav-item.current:after {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #1b1b1b;
        content: " ";
        position: absolute;
        left:46%

    }
    
}

.nominateform{
    background-color: white;
    border:1px solid #C1C1C1;
    color: #1b1b1b;
}
